@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container error-container">
    <img class="error-image img-responsive" alt="Sad smile" src=@Url.Content("~/Content/images/error-smile.png") height="200"/>
    <hr/>
    <h4 class="text-center">Sorry! Source is unavailable.</h4>
</div>


